---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me"
	pubDate={new Date('2026-03-15')}
>
	<p>I (Simon Stolarczyk) have a history of doing various math, data science, and engineering things.</p>
	<p>Currently working on fraud and AI engineering problems at Socure.</p>
</Layout>
