---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Howdy!</h1>
			<p>This here site is for Simon Stolarczyk's stuff. Pardon the dust, we're under construction.</p>
			<p>You can see older posts <a href="/quarto/index.html">here</a>.</p>
		</main>
		<Footer />
	</body>
</html>
