---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Simon Stolarczyk. All rights reserved.
	<div class="social-links">
		<a href="https://bsky.app/profile/psistolar.bsky.social" target="_blank">
			<span class="sr-only">Follow Simon on Bluesky</span>
			<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32" astro-icon="social/bluesky"
				><path
					fill="currentColor"
					d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.905C2.566 1.055 1.808.528 1.488.291c-.347-.262-.777-.384-1.127-.22A.932.932 0 0 0 0 .976c0 .546.12 1.342.342 2.385.69 3.256 1.838 8.65 2.155 10.33.243 1.282.97 2.054 2.152 2.222 1.258.179 2.502.164 3.722-.162-1.391 1.056-2.583 2.002-3.666 2.915-1.114.938-1.782 1.491-1.895 1.58-.231.18-.344.375-.344.593 0 .47.534.801.815.932.327.151.727.226 1.139.226 1.139 0 3.322-.72 5.06-2.164 1.259-.974 2.128-2.615 2.52-4.102.392 1.487 1.261 3.128 2.52 4.102 1.738 1.444 3.921 2.164 5.06 2.164.412 0 .812-.075 1.14-.226.28-.13.814-.461.814-.932 0-.218-.113-.412-.344-.593-.113-.09-.781-.642-1.896-1.58-1.082-.913-2.274-1.859-3.665-2.915 1.22.326 2.464.341 3.722.162 1.182-.168 1.909-.94 2.152-2.222.317-1.68 1.465-7.074 2.155-10.33.222-1.043.342-1.839.342-2.385a.932.932 0 0 0-.361-.904c-.35-.164-.78-.042-1.127.22-.32.237-1.078.764-3.714 2.604-2.752 1.852-5.711 5.791-6.798 7.905z"
				></path></svg
			>
		</a>
		<a href="https://github.com/spstolar" target="_blank">
			<span class="sr-only">My GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
